@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");
* {
  margin: 0;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //   background-color: white;
  position: fixed;
  z-index: 10;
  width: 100%;

  .logo {
    padding: 0.5rem 0 1rem;
    margin-left: 3rem;
    font-family: "Kiwi Maru";
    font-size: 1.75rem;
  }
  .nav-tabs {
    display: flex;
    p {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
  .menu {
    margin-right: 3rem;
    display: flex;
    p {
      margin-left: 2rem;
    }
  }
}
