$black: #404142;
$darkbrown: #4c4036;
$lightbrown: #77706a;
$grey: #d8d7d4;
$beige: #e3d6cb;
$cream: #fef9f3;
$success: #20a020;
$successBkgr: #eeffe0;
$danger: #a02020;
$dangerBkgr: #ffe0e0;
$info: #2020a0;
$infoBkgr: #e0e0ff;

.cart {
  // padding-top: 5rem;
  background-color: #f8f8f8;
  min-height: calc(94vh - 7rem);
  padding: 5rem 2rem 2rem 2rem;
  font-family: "Open Sans";
  h1 {
    color: $darkbrown;
    font-size: 24px;
  }
}
.cart-header {
  display: flex;
  margin-bottom: 1rem;
  margin-left: 2rem;
  p {
    font-weight: 600;
    color: $darkbrown;
  }
}
.cart-items {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 1rem;
  .cart-image {
    display: flex;
    img {
      width: 125px;
      height: 125px;
    }

    p {
      margin-top: 1rem;
      font-weight: 600;
      color: $darkbrown;
    }
  }
  .cart-item-qty {
    display: flex;
    align-items: center;
  }
}

.cart-total {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 3rem;

  .grand-total {
    font-size: 24px;
    font-weight: 700;
    margin-left: 2rem;
  }
}
.cart-checkout {
  display: flex;
  justify-content: flex-end;
  button {
    margin-top: 1.5rem;
    font-weight: 600;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-family: "Open Sans";
    background-color: $darkbrown;
    color: $cream;

    border: 1px solid $darkbrown;
    cursor: pointer;
    transition-timing-function: ease-in;
    transition: all 0.5s;

    &:hover {
      background-color: $cream;
      color: $darkbrown;
    }
  }
}

.delete-btn {
  background-color: transparent;
  color: #adacac;
  font-size: 1rem;

  border: none;
  cursor: pointer;
  font-family: "Open Sans";
  font-weight: 600;
  &:hover {
    transition-timing-function: ease-in;
    transition: all 0.5s;
    color: $black;
  }
  &:focus {
    outline: 0;
  }
}

.empty-cart {
  font-family: "Nunito";
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  // background-color: #ffffff;
  h2 {
    line-height: 4rem;
    font-size: 30px;
    font-weight: 600;
    color: grey;
  }
  p {
    color: $darkbrown;
    font-size: 18px;
    &:hover {
      color: $lightbrown;
    }
  }
}
